{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserEdit</title>
    <link rel="stylesheet" href="{% static 'css/edit.css' %}" />
</head>
<body>
    <div id="form-main">
        <div id="form-div">

            {% if messages%}
            {% for message in messages %}
            <div class="alert alert-danger text-center mx-auto mt-5" role="alert" >
                <p class="text-center mx-auto" style="color: red;padding-top: 10px;">{{ message }}</p>
                </div>
            {% endfor %}
            {% endif %} 


          <form class="form" id="form1" action="{% url 'create' %}" method="post" >
            {% csrf_token %}
            <p class="name">
                USERNAME
              <input name="cuser" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" value="{{user.username}}" />
            </p>
            
            <p class="name">
                PASSWORD
              <input name="cpass" type="password" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" value="{{user.username}}" />
            </p>

            <p class="email">
                EMAIL
              <input name="cemail" type="email" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" value="{{user.email}}" />
            </p>
            
            
            <div class="submit">
              <input type="submit" value="CREATE" id="button-blue"/>
              <div class="ease"></div>
            </div>
          </form>
        </div>

        
</body>
</html>