{% extends "loginpage.html" %}


{% block body %}

<div class="bg-img">
  <div class="content">
     <header>SignUp</header>
     <form action="#" method="post">
       {% csrf_token %}

        <div class="field">
           <span class="fa fa-user"></span>
           <input type="text" required placeholder="Username" name="regusr">
        </div>
        <div class="field space">
           <span class="fa fa-lock"></span>
           <input type="password" class="pass-key" required placeholder="Password" name="regpass">
           <span class="show">SHOW</span>
        </div>

        <div class="field space">
          <span class="fa fa-lock"></span>
          <input type="password" class="pass-key" required placeholder="confirm Password" name="regconpass">
          <span class="show">SHOW</span>
       </div>

       <div class="field">
        <span class="fa fa-user"></span>
        <input type="Email" required placeholder="Email" name="regemail">
     </div>
        
        <div class="field">
           <input type="submit" value="Register">
        </div>
     </form>
     
    
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert alert-danger text-center mx-auto mt-5" role="alert" >
      <p class="text-center mx-auto" style="color: red; padding-top: 10px;">{{ message }}</p>
      </div>
      {% endfor %}
    {% endif %}
     
  </div>
</div>

{% endblock %}



